<br><br>
<h1>Hi Hooman!<h1>
<h3>LOG IN<h3>
<head>
<link rel="stylesheet" href="style1.css">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<% if @error%>
<p class="danger"><%= @error %></p>
<%end%>

<form action="/login" method="post"> 
<input type="text" placeholder="Username" name="username">
<input type="password" placeholder="Password" name="password">
<input type="submit" value="Log In">
</form>

<a href="/signup">Sign Up</a>