<br>
<h1>Let's be Frewnds!</h1>

<link rel="stylesheet" href="style2.css">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<h3>Sign Up<h3>

<% if current_user && current_user.errors.any? %>
    <%current_user.errors.full_messages.each do |m|%>
<p class="danger"><%= m%></p>
    <%end%>
<%end%>

<form action="/signup"method="post">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Sign Up">
</form>

<a href="/login">Log In</a>

