

 <h1><a href= "/pets/new">CREATE YOUR FURRY FRIEND HERE</a></h1><br>

 <img src="https://i.pinimg.com/564x/18/82/e0/1882e07aecdf7a3286a5013cdad5d0c0.jpg">
 <br>
<h2> HERE IS YOUR FURRY FRIEND:<h2>
<% @pets.each do|pet| %>
<a href="/pets/<%=pet.id%>"><%=pet.name%>:<%=pet.notes%></a>
<%end%>

<br>
<form method="post" action="/logout">
  <input  type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Log out">
</form>
<style>

 body {
     background-color: #F0F0F0;
 }

body {
    font-family: "Lucida Console", Courier, monospace;
  
}
h1,a {
    color: salmon;
    text-align: center;
}
h2 {
    color: crimson;
    text-align: center;
    
}
form { 
margin: 0 auto; 
width:250px;
}
img {
     display: block;
      margin-left: auto;
     margin-right: auto;
    width: 25%;
}

</style>