<h1><a href='/pets'>HOME</a></h1>
<h2>ABOUT YOUR FLUFFY FREWND:</h2>

<img src="https://i.pinimg.com/564x/7a/66/0f/7a660fde51dd767e1e0abd00b98012ad.jpg">
<br>
<form action="/pets" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="age" placeholder="Age">
<input type="text" name="notes" placeholder="Notes">
<input type="submit" value="Create your Fluff's Profile">
</form>
<br>


<style>

 body {
     background-color: #F0F0F0;
 }

body {
    font-family: "Lucida Console", Courier, monospace;
  
}
h1 {
    color: crimson;
    text-align: center;
}
h2 {
    color: crimson;
    text-align: center;
    
}
form { 
margin: 0 auto; 
width:250px;

}


img {
     display: block;
      margin-left: auto;
     margin-right: auto;
    width: 30%;
  } 
</style>