
<br>
<h1><a href='/pets'>Your Pets</a></h1>


 <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style5.css">
<br>
<h1> Add your Pet Below!</h1>
<form action="/pets" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="age" placeholder="Age">
<input type="text" name="notes" placeholder="Notes"><br><br>
<input type="submit" value="Create your Fluff's Profile">
</form>
<br>
<form method="post" action="/logout">
  <input  type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Log out">
</form>
