form, input {
    margin: 0 auto; 
    width:250px;
    background-color: lightyellow;
}
 body, input {
     color: salmon;
     font-family: 'Indie Flower', cursive;
     background-image: url("https://i.pinimg.com/564x/3a/34/51/3a3451dae1fd72784d0c285951144e75.jpg");
    
 }
h1 {
    color: rgb(54, 54, 240);
    text-align: center;
    background-color: rgb(253, 253, 129);
    font-family: 'Indie Flower', cursive;
}
h2 {
    color:  rgb(168, 44, 168);
    text-align: center;
    background-color: rgb(90, 221, 193);
    font-family: 'Indie Flower', cursive;
}
h3, a{
    color: #FFB6C1;
   text-align: center;
   font-family: 'Indie Flower', cursive;
}
h4, a {
    color: salmon;
    background-color: lightyellow;
    font-size: xx-large;
    font-family: 'Indie Flower', cursive;
}
