body, input {
    background-color: crimson;
    background-image: url("https://i.pinimg.com/originals/c7/65/0e/c7650e9a28d2185c9c2a7d6d745edb21.png");
    font-family: 'Indie Flower', cursive;
    color: crimson;
    text-align: center;
}




