<!DOCTYPE html>
<html lang="en">
<head>
<style>
 p {
     color: salmon;
 }
 body {
     background-color: #F0F0F0;
 }

body {
    font-family: "Lucida Console", Courier, monospace;
}
h1 {
    text-align: center;
}

</style>
</head>
<h1><p> PET TRACKER!</P></h1>
</html>
<img src="https://i.pinimg.com/564x/21/a7/98/21a798d604f9cf3c6a5b4c15043fb6d1.jpg">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>your fav pet tracker</title>
<style>

img {
     display: block;
      margin-left: auto;
     margin-right: auto;
    width: 40%;
  } 
</style>
<h2>Please Login or Signup<h2>
<style>
h2 {
    color: crimson;
    text-align: center;
}
</style>

<a href="/login">Log in</a> <br>
<a href="/signup">Sign up</a>

